# see more https://medium.com/@crysfel/using-different-registries-in-yarn-and-npm-766541d6f851

# registry "https://registry.npmmirror.com/"
# sass_binary_site "https://npmmirror.com/mirrors/node-sass/"
# SENTRYCLI_CDNURL: "https://cdn.npm.taobao.org/dist/sentry-cli"
# sentrycli_cdnurl: "https://cdn.npm.taobao.org/dist/sentry-cli"

registry "https://registry.npmjs.org/"
